.social_icons li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    color: #555;
    background: #fff;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(0 0 0 / 50%);
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
}
.social_icons li a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20%;
    background: #b2b2b2;
    transition: 0.5s;
    transform: rotate(0deg);
}
.social_icons li a::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20%;
    width: 100%;
    background: #e5e5e5;
    transition: 0.5s;
    transform: rotate(0deg);
}
.social_icons li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}
.social_icons li:hover .fa {
    color: #fff;
}
.social_icons li:hover:nth-child(1) a {
    background-color: #3b5999;
}
.social_icons li:hover:nth-child(1) a::before {
    background-color: #2f477a;   
}
.social_icons li:hover:nth-child(1) a::after {
    background-color: #4e69a3;
}
.social_icons li:hover:nth-child(2) a {
    background-color: #ff0000;
}
.social_icons li:hover:nth-child(2) a::before {
    background-color: #e21515;
}
.social_icons li:hover:nth-child(2) a::after {
    background-color: #f80404;
}
.social_icons li:hover:nth-child(3) a {
    background-color: #1c95db;
}
.social_icons li:hover:nth-child(3) a::before {
    background-color: #0caeee;
}
.social_icons li:hover:nth-child(3) a::after {
    background-color: #00aeff;
}
.social_icons li:hover:nth-child(4) a {
    background-color: #2b2b2c;
}
.social_icons li:hover:nth-child(4) a::before {
    background-color: #19191a;
}
.social_icons li:hover:nth-child(4) a::after {
    background-color: #000000;
}
.social_icons li:hover:nth-child(5) a {
    background-color: #96ca1d;
}
.social_icons li:hover:nth-child(5) a::before {
    background-color: #a7e90e;
}
.social_icons li:hover:nth-child(5) a::after {
    background-color: #d0fd05;
}